{% extends "ecom/layout.html" %}
{% block content %}
<div class="flex flex-cols items-center">
    <h2 class="text-3xl text-gray-600 dark:text-white">Cart</h2>
    {% for cartitem in cartitems %}
    <div class="mb-4">
        <h2 class="mb-4 text-md text-gray-600 dark:text-white">{{ cartitem.product.name }}</h2>
        <h3 class="mb-4 text-md text-gray-600 dark:text-white">{{ cartitem.product.price|floatformat:"-2g" }}</h3>
        <p class="mb-4 text-md text-gray-600 dark:text-white">{{ cartitem.quantity }}</p>
    </div>
    {% endfor %}
</div>
{% endblock content %}