{% extends "ecom/layout.html" %}
{% block content %}
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Stock
                </th>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <a href="{% url 'product detail' product.slug %}" class="hover:underline hover:underline-offset-auto">{{ product.name|title }}</a>
                        </th>
                        <td class="px-6 py-4">
                            ${{ product.price|floatformat:"-2g" }}
                        </td>
                        <td class="px-6 py-4">
                            {{ product.stock }}
                        </td>
                        <td class="px-6 py-4">
                            {{ product.desc|truncatewords:8 }}
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
